<h3><%= plural_table_name %></h3>

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path, class: "btn btn-success" %>

<table class="table table-hover">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td>
        	<%%= link_to content_tag(:span,nil,:class=>"glyphicon glyphicon-home"), <%= singular_table_name %>,  class:"btn",title: "Show","data-toggle"=>"tooltip" %>
	        <%%= link_to content_tag(:span,nil,:class=>"glyphicon glyphicon-edit"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class:"btn",title: "Editar","data-toggle"=>"tooltip" %>
			<%%= link_to content_tag(:span,nil,:class=>"glyphicon glyphicon-remove"), <%= singular_table_name %>, method: :delete, data: { confirm: 'Deseja realmente excluir?' },class:"btn", title: "Excluir", "data-toggle"=>"tooltip" %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>


